* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    
}

header {
    background-color: black;
    height: 50px;
    text-align: right;
}

header button {
    border-radius: 5px;
    padding: 5px;
    background-color: #333;
    color: white;
    border: 0;
    margin-top: 5px;
    margin-right: 5px;
}

main {
    height: calc(100vh - 130px);
    background: rgba(0, 0, 0, 0.9);

}

.gallery {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    overflow-y: auto;
}

.gallery-photo {
    position: relative;
    width: 250px;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.9);
}

.active {
    border: 2px solid white;
}

.fa-microphone {
    color: green;
}

.fa-microphone-slash {
    color: red;
}

.name {
    position: absolute;
    bottom: 0%;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    max-width: 100px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.footer-center {
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.footer-left-button {
    padding: 15px;
    position: relative;
    color: white;
}

.footer-left-button i {
    color: white;
}

.btn-description {
    padding-top: 5px;
    display: block;
}

.footer-left-button:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f0d8";
    position: absolute;
    right: 0%;
    top: 30%;
}

.footer-center-button {
    color: white;
}

.footer-center-button i {
    color: white;
}

.footer-right {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

}

.footer-right button {
    border: none;
    background-color: black;
    color: red;

    font-weight: bold;
    font-size: 18px;
}

.footer-right button:hover {
    cursor: pointer;
}

@media all and (max-width: 992px) {
    .footer-center {
        display: none;
    }
}
